/* Using CSS Reset */

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  /* Colors for page theme */
  --black: #000;
  --white: #fff;
  --blue: #1E90FF;
  --green: #20B2AA;
  --bright-green: #00FA9A;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: var(--blue);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.184c.13.357.264.72.402 1.088l.661 1.768C4.653 33.64 6 39.647 6 50c0 10.271-1.222 15.362-4.928 24.629-.383.955-.74 1.869-1.072 2.75v6.225c.73-2.51 1.691-5.139 2.928-8.233C6.722 65.888 8 60.562 8 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.352 19.098.601 16.913 0 14.85v6.335zm20 0C17.108 13.258 16 8.077 16 0h2c0 5.744.574 9.951 2 14.85v6.334zm0 56.195c-2.966 7.86-4 13.123-4 22.621h2c0-6.842.542-11.386 2-16.396v-6.225zM6 0c0 8.44 1.21 13.718 4.402 22.272l.661 1.768C14.653 33.64 16 39.647 16 50c0 10.271-1.222 15.362-4.928 24.629C7.278 84.112 6 89.438 6 100h2c0-10.271 1.222-15.362 4.928-24.629C16.722 65.888 18 60.562 18 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.223 8 8.163 8 0H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
  font-family: Arial;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
}

/* main heading h1 */
.main-heading {
  font-size: 28px;
  line-height: 1.2;
}
/* sub-heading h2 */
.sub-heading {
  font-size: 26px;
  font-weight: 700;
  color: var(--green);
}
/* h3 heading */
.sub-sub-heading {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--green);
}
/* Highlight for emphasis */
.underline {
  border-bottom: 2px solid var(--bright-green);
}

.container {
  max-width: 1200px;
}
/* END GLOBAL STYLES */

/* HEADER */
.header {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B3F8B;
  color: var(--white);
}

.my-name {
  color: var(--bright-green);
}

.arrow {
  color: #FFD700;
}
/* END HEADER */

/* SECTION - ABOUT */
.about {
  margin: 50px auto 50px auto;
}

.about-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  column-gap: 35px;
  border-radius: 3px;
}

.about-content .summary {
  padding: 20px;
  background: var(--white);
  border-left: 5px solid #FFD700;
}

.summary, .about-image img {
  border-radius: 3px;
}

.about a {
  color: var(--black);
}

.about p {
  margin-bottom: 10px;
}

.about p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* END ABOUT SECTION */

/* SKILLS SECTION */
.skills {
  margin: 0 auto;
  padding: 15px;
  /* border-bottom: 5px solid #FFD700; */
  border-radius: 3px;
  background: var(--white);
}

.skills .sub-heading {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.coding-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
/* END SKILLS SECTION */

/* FOOTER */
footer {
  height: 200px;
  margin-top: 50px;
  padding: 20px;
  background-color: var(--green);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

footer .sub-heading {
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
}

footer .contact-list {
  display: flex;
  justify-content: center;
}

footer li a {
  margin: 0 5px;
  padding: 3px;
  border-bottom: 3px solid var(--blue); 
  background: #FFD700;
  font-size: 20px;
  color: var(--black);
}

footer li a:active {
  color: green;
}
/* END FOOTER */

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 36px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .about-content {
    padding-right: 15px;
    padding-left: 15px;
    grid-template-columns: 1fr;
  }

  .about-image img {
    display: none;
  }

  .skills {
    max-width: 450px;
  }

  .coding-skills {
    grid-template-columns: 1fr;
  }
}